{% extends 'customer/base.html' %}

{% block content %}

<div style="text-align: center; margin-top: 40px; margin-bottom: 50px;">
    <h1 style="color: rgb(193, 7, 7); font-weight: bold; font-size: 3rem;">
        Love food? Eat, Enjoy, Repeat
    </h1>
</div>

<div style="display: flex; align-items: center; justify-content: center; flex-wrap: wrap;">

    <!-- Image Container -->
    <div style="flex: 1; text-align: center; margin-bottom: 20px;">
        <img src="/media/menu_images/Cafe-Owners.png" alt="Food" style="border-radius: 50%; max-width: 100%; height: auto;"/>
    </div>

    <!-- Text Container -->
    <div style="flex: 1; text-align: justify; margin-right: 60px; margin-bottom: 20px;">
        <p>
            Welcome to our restaurant, a destination where culinary artistry meets a warm and inviting atmosphere. Nestled in the heart of the city, we take pride in offering a diverse menu crafted with fresh, locally sourced ingredients. Whether you’re craving comforting classics, bold international flavors, or innovative seasonal dishes, our menu has something to excite every palate. At the core of our philosophy is a dedication to quality and care. Our skilled chefs pour passion into every dish, ensuring a perfect balance of flavor and presentation that delights the senses.
            <br style="margin-bottom: 20px;">

            Designed to suit every occasion, our space seamlessly blends modern elegance with a cozy ambiance, making it the perfect venue for everything from intimate dinners to family gatherings and celebrations. We also cater to dietary preferences, offering a range of vegetarian, vegan, and gluten-free options. Our dedicated team is committed to delivering exceptional service, ensuring that every visit feels special and memorable.
            <br>

            In addition to our dine-in experience, we provide convenient online ordering and takeaway services so you can enjoy our flavors from the comfort of your home. From themed dinner nights to live music events, there’s always something exciting happening at our restaurant. Join us for an unforgettable dining experience, where great food, warm hospitality, and a vibrant atmosphere come together to create lasting memories. Whether you’re a foodie seeking culinary adventures or simply looking for a welcoming space to relax and enjoy a meal, we look forward to serving you!
        </p>
    </div>

</div>

{% endblock content %}
